@white: #fff;
@white1:#bbc1ca;
@white2:#fefeff;
@color1:rgba(1,148,54,1);
.box-sizing{
    box-sizing: border-box;
}
.clearfix{
    zoom: 1;                     /*IE6*/
}
.clearfix:after{
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.header{
    width: 100%;  
    .header-left{    
        margin-left: 40px;  
        float: left;
        display: inline-block;
        img{
            vertical-align: middle;
            border-radius: 50%;
            display: inline-block;
        }
        h3{
            color: @color1;
            font-weight: 550;
            display: inline-block;
            font-size:18px;
            vertical-align: middle;
            margin-left: 16px;
        }
    }
    .header-right{
        float: right;
        color: #000;
        margin-right: 42px;
        .ant-dropdown-link{
            margin-left: 16px;
            color: #000;
        }
        .new{
            color: #000;
            margin-left: 16px;
            margin-right: 50px;
        }
    }
}
