.Article{
    background: #fff;
    padding: 15px;
    // border: 1px solid #000;
    // position: relative;
    .title{
        img{
            width: 18px;
            height: 17px;
            vertical-align: middle;
            margin-right: 5px;
        }
        span{
            font-weight: 550;
            vertical-align: middle;
        }
    }

}
.eokPlO {
    z-index: 1;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    height: 9px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
    width: 80px;
    position: relative;
  }
  .eokPlO.left {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03);
  }
.Form{
    margin-top: 15px;
}

.none{
    display: none;
}

.tables{
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}