
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;

  }

  #components-form-demo-normal-login{
    max-width: 500px;
   
    margin: 0 auto;
    margin-top: 10%;
    
    .tag{
      text-align: center;
      margin-bottom: 15px;
    }
    
  }
