#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  #components-form-demo-normal-login{
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 500px;
  }

  #login-wrap{
      height: 100%;
      background: url('../../assets/img/bg.jpg') no-repeat;
      background-size: cover;
  }
  #root{
      height: 100%;
  }