.main{
    display: flex;
    width: 100%;
    .left{
        width: 16%;
        background-color: #c0c0c0;
        color: #333;
        font-size: 24px;
        height: 1000px;
        padding: 20px;
    }
    .right{
        width: 84%;
        height: 1000px;
        background-color: #fff;
        font-size: 20px;
    }
}